body {
    background-image: url('../images/computer-dark-room.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.card-container {
    display: flex;
    flex-direction: row;
    /* Карточки идут в ряд */
    align-items: center;
    /* Выравнивание элементов по вертикали */
    margin-top: 40%
}

.rectangular-card {
    background-color: #383838bf;
    border: none;
    border-radius: 56px;
    box-sizing: border-box;
    column-gap: 8px;
    cursor: pointer;
    direction: ltr;
    display: grid;
    grid-template-columns: 28px 1fr;
    width: 150px;
    /* Ширина карточки */
    height: 60px;
    /* Высота карточки */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    text-decoration: none;
    margin-right: 36px;
    /* Расстояние между карточками */
}

.rectangular-card:hover {
    transform: scale(1.1);
}

.card-content {
    display: flex;
    align-items: center;
    padding: 5px;
}

.logo img {
    width: 50px;
    /* Ширина логотипа */
    height: 50px;
    /* Высота логотипа */
    border-radius: 50%;
    margin-right: 10px;
    /* Отступ между логотипом и названием */
}

.exchange-name {
    flex-grow: 1;
    /* Настраиваем равномерное распределение пространства между логотипом и названием */
}

.exchange-name h5 {
    margin: 0;
    /* Убираем отступы у названия */
}
