<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'tracker/css/main.css' %}" rel="stylesheet">
    <link href="{% static 'tracker/css/' %}{{ stylesheet_file }}" rel="stylesheet">
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'jquery/jquery-3.7.1.slim.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/echarts@5.2.2/dist/echarts.min.js"></script>
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-lg custom-navbar">
        <div class="container">
            <a href="{% url 'index' %}" class="navbar-brand">
                <div class="logo-container logo-animation">
                    <img src="{% static 'tracker/images/logo.svg' %}" width="40" height="40" alt="logo">
                </div>
            </a>

            <button class="navbar-toggler btn-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a href="{% url 'index' %}" class="nav-link active custom-text">Биржи</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    {% block content %}
    {% endblock %}

    <!-- Подвал -->
    <footer class="footer mt-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <ul class="footer-menu">
                        <li style="display: inline-block; margin-right: 20px;"><a href="#" class="link-secondary">О нас</a></li>
                        <li style="display: inline-block; margin-right: 20px;"><a href="#" class="link-secondary">Контакты</a>
                        </li>
                        <li style="display: inline-block; margin-right: 20px;"><a href="https://github.com/oliver2214/petro-tracker" class="link-secondary">Проект</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <p class="all-rights-reserved text-secondary">Все права защищены &copy; {{ year }}</p>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>
