{% extends 'tracker/base.html' %}
{% block content %}
{% load static %}

<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
</head>

<div class="stripe-container">
    <div class="card-container container">
        <div class="card-content">
            <a href="{% url 'market' %}" class="rectangular-card">
                <div class="logo">
                    <img src="{% static 'tracker/images/moex-logo.jpg' %}" alt="Exchange 1 Logo">
                </div>
                <div class="exchange-name">
                    <h5>MOEX</h5>
                </div>
            </a>
        </div>
        <div class="card-content">
            <a href="{% url 'market' %}" class="rectangular-card">
                <div class="logo">
                    <img src="{% static 'tracker/images/moex-logo.jpg' %}" alt="Exchange 1 Logo">
                </div>
                <div class="exchange-name">
                    <h5>СПБ биржа</h5>
                </div>
            </a>
        </div>
        <!-- другие карточки здесь -->
    </div>
</div>


{% endblock %}
