{% extends 'tracker/base.html' %}
{% block content %}
{% load static %}

<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
</head>

<div class="fullscreen-container" style="height: 50vh;">
    <div class="stripe-container">
        <div class="card-container container">
            {% for exchange_code in exchanges %}
            <div class="card-content">
                <a href="{% url 'exchange' exchange_code %}" class="rectangular-card">
                    <div class="logo">
                        <img src="{% static 'tracker/images/' %}{{ exchange_code }}-logo.jpg" alt="{{ exchange_code }} Logo">
                    </div>
                    <div class="exchange-name">
                        <h5>{{ exchange_code }}</h5>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
