{% extends 'tracker/base.html' %}
{% block content %}
{% load static %}

<div class="container">
    <div class="col-mt-6">
        <h5 class="fs-1 mt-5 mb-4">{{ security_data.shortname }}</h5>
    </div>
    {% if security_data.description %}
    <div class="col-mt-6">
        <h5 class="fw-bold">Описание</h5>
        <p>{{ security_data.description }}</p>
    </div>
    {% endif %}

    <script src="{% static 'apache_echarts/echarts.min.js' %}"></script>

    <div style="display: none" id="jsonData" data-json="{{ prices_json }}" ticker="{{ security_data.ticker }}" currency="{{ security_data.currency }}"></div>

    <div class="img-thumbnail" id="candlestick_frame" style="width:1400px;height:700px;" alt="График цены акции"></div>

    <script src="{% static 'tracker/js/charts_script.js' %}"></script>

    <div class="row mt-3">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Сайт</h5>
                    {% if security_data.site %}
                        <a href="https://{{ security_data.site }}" target="_blank">{{ security_data.site }}</a>
                    {% else %}
                        <p class="card-text">-</p>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Генеральный директор</h5>
                    {% if security_data.CEO %}
                        <p class="card-text">{{ security_data.CEO }}</p>
                    {% else %}
                        <p class="card-text">-</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">ISIN</h5>
                    {% if security_data.ISIN %}
                        <p class="card-text">{{ security_data.ISIN }}</p>
                    {% else %}
                        <p class="card-text">-</p>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Инструмент</h5>
                    {% if security_data.exchange_code %}
                        <a href="{% url 'exchange' security_data.exchange_code %}">{{ security_data.exchange_code }}</a>
                    {% else %}
                        <p class="card-text">-</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}
